<div class="container">
    <div class="card">
        <div class="container-fliud">
            <!--เป็นการเช็ค ค่าbook ว่ามี ค่าที่ส่งมามั๊ย ถ้ามีให้ไป แสดงผล-->
            <div class="wrapper row" *ngIf="book != null">
                <div class="preview col-md-3">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{book.pic}}" /></div>
                    </div>
                </div>
                <div class="details col-md-9">
                    <h3 class="product-title">{{book.name}}</h3>
                    <div class="row">
                        <div class="col col-md-12">
                            <h5 class="sizes">Detail : </h5>
                            <p>{{book.details}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-2">
                            <h5 class="sizes">Price : </h5>
                        </div>
                        <div class="col col-md-6">{{book.prices}} Bath</div>
                    </div>
                </div>
            </div>
            <div class="mx-2 my-2 wrapper col col-md-12 ">
                <div class="col col-md-11"></div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-info d-flex justify-content-end" type="button" [routerLink]="[ '/books']">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>